@charset "utf-8";

.inner {
  width: 1100px;
  margin-inline: auto;
}

header {
  background-color: #fff;
  padding-block: 15px;
}

.header-container {
  display: flex;
  /* flexアイテムの均等割付 */
  justify-content: space-between;
  /* flexアイテムの上寄せ */
  align-items: flex-start;
}

.header-icon {
  color: #777;
}

.contact-button {
  color: #fff;
  background-color: #6ba7eb;
  display: inline-block;
  padding: 14px;
  font-weight: bold;
  transition: all 0.3s;
  &:hover {
    color: #333;
  }
}

.keyvisual {
  padding-block: 400px;
  background-image: url(../images/keyvisual/keyvisual.jpg);
  /* 背景画像を中央寄せ & coverで配置調整 */
  background-position: center;
  background-size: cover;
}

.main-title {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  text-align: center;
}

.sub-title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-top: 30px;
  text-align: center;
}

.news {
  background-color: #e3f2fd;
  padding-top: 50px;
}

.section-title {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
}

.news-title {
  margin-top: 20px;
  margin-bottom: 35px;
}

.news-text {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

.news-flex-container {
  display: flex;
  /* インライン要素の中央揃え */
  text-align: center;
  .news-flex-item-image {
    width: 40%;
  }
  .news-flex-item-text {
    width: 60%;
  }
}

.skills {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
}

.skills-title {
  margin-bottom: 50px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 100px;
}

.skill-item {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.plan {
  background-color: #d0dfea;
  padding-block: 50px;
}

.plan-title {
  margin-bottom: 50px;
}

.plan-table {
  width: 100%;
  th,
  td {
    /* 全セル共通のスタイル */
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 10px;
  }
  thead th {
    /* 見出し行のスタイル */
    background-color: #6ba7eb;
  }
  tbody th {
    /* 見出し列のスタイル */
    font-weight: bold;
  }
  tbody {
    /* レコード行（見出し行以外）に適用 */
    tr {
      /* 全列共通のスタイル */
      border-bottom: 2px solid #fff;
    }
    tr:nth-child(odd) {
      /* 奇数列のスタイル */
      background-color: #f9f9f9;
    }
    tr:nth-child(even) {
      /* 偶数列のスタイル */
      background-color: #e0efff;
    }
  }
  th:not(:first-child),
  td:not(:first-child) {
    /* 一番最初の列以外（2列目以降）のスタイル */
    border-left: 2px solid #fff;
  }
}

.sns {
  background-color: #e3f2fd;
  padding-block: 200px;
}

.sns-icon {
  width: 185px;
  padding-block: 25px;
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  transition: all 0.5s;
  &:hover {
    color: #fff;
  }
}

.sns-container {
  display: flex;
  /* flexコンテナ自体の中央揃え */
  justify-content: center;
  /* flexアイテム内の各アイコンの中央揃え */
  text-align: center;
}

footer {
  background-color: #cfd8dc;
  padding-block: 25px;
  text-align: right;
}

.footer-copyright {
  font-size: 13px;
  letter-spacing: 0.5px;
}

@media (max-width: 1199px) {
  /* タブレット版レイアウト */
  .inner {
    width: 97%;
  }
}
