@charset "utf-8";

.inner {
  width: 1100px;
  margin-inline: auto;
}

header {
  background-color: #fff;
}

.header-icon {
  margin-block: 15px;
  color: #777;
}

.contact-button {
  color: #fff;
  background-color: #6ba7eb;
  margin-top: 15px;
}
