@charset "utf-8";

.inner {
  width: 1100px;
  margin-inline: auto;
}

header {
  background-color: #fff;
}

.header-icon {
  margin-block: 15px;
  color: #777;
}

.contact-button {
  color: #fff;
  background-color: #6ba7eb;
  margin-top: 15px;
}

.keyvisual {
  padding-block: 400px;
}

.main-title {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
}

.sub-title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-top: 30px;
}

.news {
  background-color: #e3f2fd;
  padding-top: 50px;
}

.section-title {
  font-size: 40px;
  letter-spacing: 10px;
}

.news-title {
  margin-top: 20px;
  margin-bottom: 35px;
}

.news-text {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

.news-image {
  width: 250px;
}

.skills {
  background-color: #fff;
  padding-top: 50px;
}

.skills-title {
  margin-bottom: 50px;
}

.plan {
  background-color: #d0dfea;
  padding-block: 50px;
}

.plan-title {
  margin-bottom: 50px;
}

.plan-table {
  th,
  td {
    /* 全セル共通のスタイル */
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 10px;
    border-left: 2px solid #fff;
  }
  thead th {
    /* 見出し行のスタイル */
    background-color: #6ba7eb;
  }
  tbody th {
    /* 見出し列のスタイル */
    font-weight: bold;
  }
  tbody {
    tr:nth-child(odd) {
      /* 奇数列のスタイル */
      background-color: #f9f9f9;
    }
    tr:nth-child(even) {
      /* 偶数列のスタイル */
      background-color: #e0efff;
    }
  }
}
